<div>
    <h2 id="page-heading">
        <span jhiTranslate="tournomentApp.playerEntity.home.title">Player Entities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-player-entity" [routerLink]="['/player-entity/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="tournomentApp.playerEntity.home.createLabel">
            Create a new Player Entity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="playerEntities?.length === 0">
        <span jhiTranslate="tournomentApp.playerEntity.home.notFound">No playerEntities found</span>
    </div>
    <div class="table-responsive" *ngIf="playerEntities?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="tournomentApp.playerEntity.name">Name</span></th>
            <th><span jhiTranslate="tournomentApp.playerEntity.mobile">Mobile</span></th>
            <th><span jhiTranslate="tournomentApp.playerEntity.team">Team</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let playerEntity of playerEntities ;trackBy: trackId">
                <td><a [routerLink]="['/player-entity', playerEntity.id, 'view' ]">{{playerEntity.id}}</a></td>
                <td>{{playerEntity.name}}</td>
                <td>{{playerEntity.mobile}}</td>
                <td>
                    <div *ngIf="playerEntity.team">
                        <a [routerLink]="['/team-entity', playerEntity.team?.id, 'view' ]" >{{playerEntity.team?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/player-entity', playerEntity.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/player-entity', playerEntity.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/player-entity', { outlets: { popup: playerEntity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
